<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PhysIQ</title>
    <link rel="stylesheet" href="/static/style1.css">
</head>
<body>
    <div class="header">
        <div class="header-content">
            <h1>PhysIQ</h1>
            <p>Закон сохранения энергии</p>
        </div>
    </div>

    <div class="content">
        <section>
            <h2>Единственный раздел</h2>
            <iframe
                width="720"
                height="405"
                src="поменяйhttps://rutube.ru/play/embed/58597988348619be93b6d3933a32fc73"
                style="border: none;"
                allow="clipboard-write; autoplay"
                allowFullScreen
            ></iframe>


            <p>Здравствуйте! Сегодня мы разберем самый фундаментальный и незыблемый принцип мироздания — Закон Сохранения Энергии. Это «золотое правило» физики, которое объясняет, почему вечный двигатель невозможен, и ведет строгий «бухгалтерский учет» Вселенной.

Вся суть закона описывается элегантной формулой: ΔE = Q - A. Давайте разберем ее.

ΔE — изменение внутренней энергии системы (чайника, двигателя, звезды).
Q — теплота, полученная системой извне (например, от плиты).
A — работа, которую система совершает (например, пар толкает поршень).

А теперь главная мысль: Энергия не возникает из ничего и не исчезает. Она только превращается или передается.

Перепишем формулу наглядно: Q = ΔE + A. Всё полученное тепло (Q) уходит только на изменение внутренней энергии (ΔE) и на совершение работы (A). Ни один джоуль не пропадает!

Примеры:

1. Падающий камень: Его потенциальная энергия высоты не исчезает, а превращается в кинетическую энергию движения, а затем — в тепловую и звуковую при ударе. Сумма энергий постоянна.
2. Кипящий чайник: Тепло от плиты (Q) идет на нагрев воды (увеличивает ΔE) и на совершение работы — подъем крышки паром (A).
3. Человек: Энергия пищи тратится на обогрев тела (ΔE), движение (A) и умственную работу. Баланс всегда сходится.

Так что, заправляя машину или включая свет, помните: от химических реакций в клетке до горения звезд — всем управляет один принцип. Энергия — универсальная валюта Вселенной, и её общий бюджет неизменен.

            </p>
            <div class="back-link-container">
                <a href="http://127.0.0.1:5000" class="back-link">← Вернуться на главную страницу</a>
            </div>
        </section>
    </div>
</body>
</html>